/* Não usar pure white or pure black: https://uxplanet.org/basicdesign-never-use-pure-black-in-typography-36138a3327a6 */
/* The 4-point grid system: https://medium.com/@sainzkike/controlling-spacing-in-design-systems-multiple-spacing-9bf1afec87f */

:root {
    --primary-brand-color: #ED145B;
    --secondary-brand-color: #0762C8;
    --success: #198754;
    --success-dark: #095c36;
    --success-light: #9dd3ba;
    --warning: #ffc107;
    --warning-dark: #705400;
    --warning-light: #fdebb3;
    --danger: #dc3545;
    --danger-dark: #990c19;
    --danger-light: #f0c1c6;
    --new-gray: #CCCCCC;
    --new-black: #212427;
    --new-white: #E8E8E8;
}

body {
    color: var(--new-black);
    background-color: var(--new-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    font-family: monospace;
    font-weight: bold;
}

.flex-colunar {
    display: flex;
    flex-direction: column;
}

.width-fit-content {
    width: fit-content;
}

.border-primary {
    border: 3px solid var(--primary-brand-color);
}

.border-secondary {
    border: 3px solid var(--secondary-brand-color);
}

.padding-8 {
    padding: 8px;
}

.text-bold {
    font-weight: bold;
}

.text-success-with-bg {
    color: var(--success-dark);
    background-color: var(--success-light);
}

.text-warning-with-bg {
    color: var(--warning-dark);
    background-color: var(--warning-light);
}

.text-danger-with-bg {
    color: var(--danger-dark);
    background-color: var(--danger-light);
}

.text-new-gray {
    color: var(--new-gray);
}

#pontuacaoEJogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.logo {
    height: 250px;
    margin-right: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
    border-radius: 130px;
    display: flex;
    letter-spacing: 4px;
}

.logo:hover{
    transform: scale(1.1);
}

.nav {
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    position: absolute;  
}

.navbar-links {
    display: flex;
    justify-content: center;
    gap: 70px;
    width: 100%;
    margin-top: -2%;
    border-radius: 20%;
}

.navbar-links a, .navbar .dropdown {
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    text-align: center; /* Centraliza o texto dentro dos links */
}

.navbar-links a:hover, .navbar .dropdown:hover {
    color: #f0a500;
}

.armas {
    display: flex;
    justify-content: center;
    gap: 70px;
    width: 100%;
    margin-top: 10px;
}


.dropdown {
    cursor: pointer;
    text-align: center;
}

.dropdown-content {
    border-radius: 10px;
    position: absolute;
    background-color: #444;
    min-width: 160px;
    z-index: 1;
    opacity: 0;
    transform: translateX(-50%);
    left: 50%;
    top: 100%;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center; 
}

.dropdown-content a {
    border-radius: 10px;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}